<%= include includes/_markdownLayout %>
<%= include includes/_progressBar %>

<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Content</h1>
      <article>
      <div class="editable" contenteditable="true">
        <p>
          <%- article.content %>
        </p>
       </div>
      </article>
    </div>
      
    <div class="span6">
      <h1>Source output</h1>
      <textarea form="article-update-form" name="content" id="source"></textarea>
			<form action="/article/update" method="POST" id="article-update-form">
				<input type="hidden" name="path" value="<%= article.path %>"/>
        <a href="/article">Cancel</a>
				<input type="submit" class="btn btn-sm btn-primary" value="Update"/>        
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form>
    </div>
  </div>
      
</div>