<%= include includes/_markdownLayout %>
<%= include includes/_progressBar %>

<div class="container">
  <div class="row">
    <div class="span6">
    <%= include includes/_breadcrumbs %>
      <article>
      <div class="editable" contenteditable="true">
        <p>
          <%- article.content %>
        </p>
       </div>
      </article>
    </div>
  </div>
  
  <%= include modals/layout %>
  <%= include includes/_sidebar %>
      
</div>