<div class="container">
  <div class="row">
  
    <table class='table table-hover'>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% if (session.authenticated) { %>         
          <a href="/article/new" class="btn btn-sm btn-primary">+ New article</a>
      <% } %>
      <tbody class="table-hover">
        <% _.each(articles, function(article) { %>
        <tr>
          <td><%= article %></td> 
      			<td><form action="/article/show" method="POST">
      				<input type="hidden" name="file" value="<%= article %>"/>
      				<input type="submit" class="btn btn-sm btn-primary" value="Show"/>
      				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
      			</form></td>
            <% if (session.authenticated) { %>         
          		<td><form action="/article/edit" method="POST">
          			<input type="hidden" name="file" value="<%= article %>"/>
          			<input type="submit" class="btn btn-sm btn-warning" value="Edit"/>
          			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
          		</form></td>
        			<td><form action="/article/destroy/<%= user.id %>" method="POST">
        				<input type="hidden" name="_method" value="delete"/>
        				<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
        				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
        			</form></td>
            <% } %>
                  

        </tr>
        <% }) %>
      </tbody
    </table>
      
  </div>
</div>
