<%= include includes/_progressBar %>

<div class="container">
  <div class="row">
  
    <table class='table table-hover'>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% if (session.authenticated) { %>         
          <a href="/article/new" class="btn btn-sm btn-primary">+ New article</a>
      <% } %>
      <tbody class="table-hover">
        <% _.each(articles, function(article) { %>
        <tr>
          <td><%= article %></td> 
    			<td>
            <form action="/article/show">
              <input type="hidden" value=<%= article %> name="file">
              <input type="submit" class="btn btn-sm btn-primary index-article-show" data-id="<%= article %>" value="Show">
      				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </form>
          </td>
          <% if (session.authenticated) { %>  
    			  <td>
              <form action="/article/edit">
                <input type="hidden" value=<%= article %> name="file">
                <input type="submit" class="btn btn-sm btn-warning index-article-edit" data-id="<%= article %>" value="Edit">
        				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </form>
            </td>            
            <td>
              <form action="/article/destroy">
                <input type="hidden" value=<%= article %> name="file">
                <input type="submit" class="btn btn-sm btn-danger index-article-destroy" data-id="<%= article %>" value="Destroy">
        				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </form>
            </td>
          <% } %>
        </tr>
        <% }) %>
      </tbody
    </table>
      
  </div>
</div>
