<div class="container">
  <div class="row">
  
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Files</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody class="table-hover">
        <% _.each(files, function(file) { %>
        <tr>
          <td><%= file %></td>
			    <td><a href="/article/show/<%= file.serialize %>" class="btn btn-sm btn-primary">Show</a></td>
        </tr>
        <% }) %>
      </tbody
    </table>
      
  </div>
</div>
<%- include modals/_editor.ejs %> 
<%- include modals/_open.ejs %>
<%- include modals/_save.ejs %>
