<div class="container">
  <div class="row">
  <a href="/article">Back</a>
  <ul class="breadcrumb">
    <% _.each(breadcrumbs, function(breadcrumb) { %>
      <% if (breadcrumb === "index.md") { %>
        <li class="active"><%= breadcrumb %></li>
      <% } else { %>
        <li><%= breadcrumb %><span class="divider">/</span></li>
      <% } %>
    <% }) %>
  </ul>
  <% if (session.authenticated) { %>         
    <% if (user.admin) { %>
  		<form action="/article/edit" method="POST">
  			<input type="hidden" name="file" value="<%= file %>"/>
  			<input type="submit" class="btn btn-sm btn-primary" value="Edit"/>
  			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
  		</form>
      <% } %>
    <% } %>
    <%- article %>
  </div>
</div>