<div class="container">
  <div class="row">
  
    <div class="tabbable tabs-right">
      <ul class="nav nav-tabs">
        <li><a href="/article">Back to articles</a></li>  
        <% if (session.authenticated) { %>         
            <li class="show-edit-article" data-id="<%= article.file %>"><a href="/article/edit/<%= article.file %>">Edit article</a></li>
            <li class="show-destroy-article"><a href="/article/destroy/<%= article.file %>">Destroy article</a></li>
        <% } %>
      </ul>
      <div class="tab-content">
        <ul class="breadcrumb">
          <% _.each(article.breadcrumbs, function(breadcrumb) { %>
            <% if (breadcrumb === "index.md") { %>
              <li class="active"><%= breadcrumb %></li>
            <% } else { %>
              <li><%= breadcrumb %><span class="divider">/</span></li>
            <% } %>
          <% }) %>
        </ul>
        <%- article.content %>
      </div>
    </div>

  </div>
</div>