<div class="container">
  <div class="row">
  
    <div class="tabbable tabs-right">
      <ul class="nav nav-tabs">
        <li><a href="/article">Back to articles</a></li>  
        <li><a href="/article/convert?id=<%= article.id %>">Download as a pdf</a></li>
        <% if (session.authenticated) { %>         
          <% if (user.admin) { %>
            <li><a href="/article/edit/<%= article.id %>">Edit article</a></li>
            <li><a href="/article/destroy/<%= article.id %>">Destroy article</a></li>
          <% } %>
        <% } %>
      </ul>
      <div class="tab-content">
        <ul class="breadcrumb">
          <% _.each(breadcrumbs, function(breadcrumb) { %>
            <% if (breadcrumb === "index.md") { %>
              <li class="active"><%= breadcrumb %></li>
            <% } else { %>
              <li><%= breadcrumb %><span class="divider">/</span></li>
            <% } %>
          <% }) %>
        </ul>
        <%- content %>
      </div>
    </div>
    
    

  

  

    

    
  </div>
</div>