<div class="container">
  <div class="row">

    <div class="span9">
        <div class="tab-content">
          <%= include _breadcrumbs %>
          <%= include _headers %>
          <% if (typeof(edit) != "undefined" && edit) { %>
            <div class="editable" contenteditable="true">
              <%- article.content %>
             </div>
          <% } else { %>
            <div class="not-editable">
              <%- article.content %>
            </div>
          <% } %>
          
        </div>
    </div>
    
    <div class="span3">
      <%= include _sidebar %>
    </div>

  </div>
</div>