<% if(typeof article.headers == "object") { %>

  <h3>Attributes</h3>
  <% Object.keys(article.headers).forEach(function(header) { %>
    <label class="control-label" for="<%= header %>"><%= header.charAt(0).toUpperCase() + header.slice(1) %></label>        
    <% if (typeof(edit) != "undefined" && edit) { %>
      <input type="text" form="save-article-form" name="<%= header %>" value="<%= article.headers[header] %>" contenteditable=true>        
    <% } else { %>
      <input type="text" form="save-article-form" name="<%= header %>" value="<%= article.headers[header] %>" readonly=true>
    <% } %>
  <% }) %>
  
<% } else { %>
<-- todo error state -->
<% } %>