<div class="panel panel-default">
  <div class="panel-heading">Action menu</div>
  <div class="panel-body">
    <ul>
      <li><a href="/article"><i class="icon-reply"></i> Back to articles</a></li>  
      <li><a href=<%= "/article/sendFile?file=" + article.path.replace(/\.[^/.]+$/, ".pdf") %> download><i class="icon-download-alt"></i> Download as PDF</a></li>  
      <li><a href=<%= "/article/sendFile?file=" + article.path %> download><i class="icon-cloud-download"></i>  Download as HTML</a></li>  
      <% if (session.authenticated) { %>    
        <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="icon-code"></i> Show source code</a></li>  
        <li><a href="/article/destroy?path=<%= article.path %>"><i class="icon-remove"></i>  Destroy article</a></li>
        <% if (typeof(edit) != "undefined" && edit) { %>
          <li><a href="javascript:history.back()"><i class="icon-remove"></i>  Cancel</a></li>
          <li><%= include _save_article_form %></li>
          <li><a href="#" id="edit-article-save"><i class="icon-edit"></i> Save</a></li> 
          <li><a href="/article/publish?path=<%= article.path %>"><i class="icon-thumbs-up"></i> Publish</a></li>   
        <% } else { %>
          <li><a href="/article/edit?path=<%= article.path %>"><i class="icon-edit"></i> Edit article</a></li>
          <li><a href="/article/publish?path=<%= article.path %>"><i class="icon-thumbs-up"></i> Publish</a></li>  
        <% } %>
      <% } %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Stats</div>
  <div class="panel-body">
    <ul>
      <li class="not-a-link" id="word-count"><i class="icon-book"></i></li>  
      <li class="not-a-link" id="character-count"><i class="icon-sort-by-alphabet"></i></li>  
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Recent activity</div>
  <ul class="list-group">
    <% if (article.history) { %>  
      <% if (article.history.length > 0) { %>
        <% article.history.forEach(function(history) { %> 
          <li class="list-group-item"><%= history %></li>
        <% }) %>
      <% } else { %>
        <li>No edit history yet for this article.</li>
      <% } %> 
    <% } %>  
    </ul>
</div>